@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.conatiner {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  background-color: #f6f6f6;
}

html {
  overflow-x: hidden;
}

.main {
  background-image: url(/assets/main/Rectangle\ 3.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 941px;
}
.main__header {
  display: flex;
  padding-top: 44px;
  align-items: center;
  justify-content: space-between;
}
.main__header__links {
  display: flex;
  gap: 80px;
  align-items: center;
}
.main__header__links-link a {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main__header__use {
  display: flex;
  gap: 25px;
  align-items: center;
}
.main__header__use-sign {
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main__header__use-login {
  padding: 13px 44px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%), #fff;
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main__body {
  position: relative;
}
.main__body-alepses {
  position: absolute;
  pointer-events: none;
  right: -43px;
  top: 70px;
}
.main__body__use {
  padding-top: 86px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main__body__use-tag {
  border-radius: 15px;
  padding: 12px 30px;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main__body__use-title {
  margin-top: 7px;
  color: #fff;
  max-width: 603px;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main__body__use-desc {
  color: #fff;
  max-width: 519px;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  opacity: 0.5;
  line-height: normal;
  margin-top: 30px;
}
.main__body__use-button {
  margin-top: 68px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%), #fff;
  border-radius: 27px;
  padding: 26px 48px;
  color: #fefefe;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main__body-bg {
  z-index: 0;
  pointer-events: none;
  position: absolute;
  top: -94px;
  height: 951px;
  min-width: 1440px;
  left: -93px;
}

.destinations {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.destinations__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.destinations__body__images {
  display: flex;
  gap: 30px;
  top: 85px;
  position: absolute;
  right: -275px;
  align-items: center;
}
.destinations__body__use {
  padding-left: 100px;
  margin-top: 109px;
}
.destinations__body__use-tag {
  color: #0f1f1c;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.destinations__body__use-title {
  color: #0f1f1c;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.destinations__body__use-desc {
  color: #0f1f1c;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.5;
  margin-top: 15px;
  max-width: 456px;
}
.destinations__body__use-button {
  margin-top: 60px;
  padding: 25px 45px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%), #fff;
  color: #fefefe;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  border-radius: 27px;
  font-weight: 600;
  line-height: normal;
}

.comment {
  margin-top: 174px;
}
.comment .conatiner {
  display: flex;
  gap: 68px;
  align-items: center;
}
.comment__use-title {
  color: #0f1f1c;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 565px;
}
.comment__use__tag {
  display: flex;
  gap: 33px;
  margin-top: 35px;
  align-items: center;
}
.comment__use__tag-logo {
  border-radius: 71.5px;
  background: #ff794e;
}
.comment__use__tag-info-title {
  color: #0f1f1c;
  font-family: Poppins;
  font-size: 33px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.comment__use__tag-info-desc {
  color: #0f1f1c;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.comment__use-desc {
  color: #0f1f1c;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.5;
  max-width: 491px;
  margin-top: 60px;
}
.comment__use__stars {
  display: flex;
  gap: 8px;
  cursor: pointer;
  margin-top: 30px;
}

.start {
  margin-top: 233px;
}
.start__body {
  position: relative;
  padding: 115px 0;
  background-color: #fff;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start__body .ovals {
  position: absolute;
  top: 74px;
  right: 80px;
  transform: rotate(180deg);
}
.start__body .ovals2 {
  position: absolute;
  bottom: 56px;
  left: 74px;
}
.start__body-title {
  color: #0f1f1c;
  max-width: 519px;
  text-align: center;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.start__body-desc {
  color: #0f1f1c;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin-top: 30px;
}
.start__body-button {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%), #fff;
  padding: 25px 55px;
  border-radius: 27px;
  margin-top: 60px;
}

.subscribe {
  margin-top: 135px;
}
.subscribe__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.subscribe__body-title {
  color: #0f1f1c;
  text-align: center;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 494px;
}
.subscribe__body__input {
  border-radius: 35px;
  padding: 12px 15px;
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #c4c4c4;
}
.subscribe__body__input-input {
  margin-left: 31px;
  color: #0f1f1c;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  margin-right: 191px;
}
.subscribe__body__input-input::-moz-placeholder {
  opacity: 0.5;
}
.subscribe__body__input-input::placeholder {
  opacity: 0.5;
}
.subscribe__body__input-button {
  color: #fff;
  border-radius: 35px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%), #fff;
  padding: 33px 87px;
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer {
  margin-top: 106px;
  margin-bottom: 74px;
}
.footer .conatiner {
  display: flex;
  padding-top: 44px;
  align-items: center;
  justify-content: space-between;
}
.footer__links {
  display: flex;
  gap: 80px;
  align-items: center;
}
.footer__links-link a {
  color: #0f1f1c;
  opacity: 0.5;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer__use {
  display: flex;
  gap: 25px;
  align-items: center;
}
.footer__use-sign {
  color: #0f1f1c;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.5;
}
.footer__use-login {
  padding: 13px 44px;
  background: linear-gradient(172deg, #ff7b4e 0%, #ff584e 100%), #fff;
  color: #fff;
  font-family: Poppins;
  font-size: 15px;
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */